*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00A9FF;
}

.heading{
    position: absolute;
    width: 100vw;
    height: 4rem;
    background-color: #CDF5FD;
    font-size: 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container{
    width: 90%;
    max-width: 500px;
    max-height: 500px;
    background-color: #A0E9FF;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    /* height: 500px; */
}

.input-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 80px;
    background-color: #CDF5FD;
    border-radius: 1rem;
    margin-bottom: 20px;
}

input{
    width: 60%;
    height: 40px;
    padding: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    border: none;
    border-radius: 0.5rem;
}

input:focus{
    outline: none;
}

input::placeholder{
    opacity: 0.75;
}

.btn{
    /* all: unset; */
    background-color: #00A9FF;
    color: white;
    cursor: pointer;
    border: none;
    padding: 3px 8px;
    border-radius: 5px;
    margin: auto 5px;
}

.display-container{
    background-color: #CDF5FD;
    width: 100%;
    align-self: flex-start;
    border-radius: 1rem;
    overflow: auto;
}

.task{
    position: relative;
    list-style: none;
    margin: 1rem;
    padding: 0.75rem;
    padding-right: 22%;
    background-color: white;
    border-radius: 0.5rem;
}

img{
    width: 20px;
}

.task p{
    display: inline;
    font-size: 0.9rem;
    letter-spacing: 1.2px;
}

.task button{
    background-color: transparent;
    border: none;
    height: 20px;
    position: absolute;
    cursor: pointer;
    /* padding: 5px; */
}

.done{
    right: 14%;
    transform: translateY(10%);
}

.delete{
    right: 5%;
    transform: translateY(10%);
}